.content-desire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 48vw;
  height: 80vh;
  box-sizing: border-box;
  padding: 0px 40px;
}

h2 {
  font-size: 24px;
}

.scroll-desire-options {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

.button-send-interests {
  min-height: 55px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s;
}

.button-send-interests:hover {
  background-color: var(--orange);
  transition: 0.3s;
}