.welcome-container {
    background-image: url('../../../../public/assets/images/friends_background.png');
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    backdrop-filter: brightness(0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.welcome-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.welcome-container h1 {
    transform: rotate(-8deg);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    letter-spacing: 7px;
    color: var(--white);
    text-shadow: 0px 0px 5px var(--red);
    /* -webkit-text-stroke: 2px black; */
}

.welcome-container img {
    height: 45px;
    filter: drop-shadow(0 2px 3px var(--red));
}

.welcome-container span {
    color: var(--white);
}