app-form-mp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-view-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plan-de-suscripcion-own {
    border: 1px solid var(--orange);
    width: 28vw;
    padding: 40px;
}

.plan-de-suscripcion-own h2 {
    background-color: aqua;
}


.form-and-costo {
    display: flex;
    padding: 50px;
    gap: 50px;
}