<div class="payment-view-container">
    <div class="plan-de-suscripcion-own">
        <div class="header-plan-de-suscripcion-own">
        </div>
        <img src="icon.svg" alt="">
        <h2>Premium</h2>
        <span>Solo por $ 98.89</span>
        <ul>
            <li>
                Recomendaciones random y personalizadas ilimitadas
            </li>
            <li>
                Tus eventos tienen prioridad
            </li>
            <li>
                Puedes aceptar o rechazar los lugares agregados por otros usuarios
            </li>
            <li>
                Puedes agregar una cantidad ilimitada de eventos
            </li>
            <li>
                Puedes consultar tus salidas estando ofline
            </li>
        </ul>
    </div>
    <div class="form-and-costo">
        <app-form-mp></app-form-mp>
        <form class="info-suscripcion" action="">
            <h3>Suscripción</h3>
            <input type="text" value="$ 98.89" disabled="true">
        </form>
    </div>
</div>