<div class="payment-view-container">
    <div class="plan-de-suscripcion-own">
        <div>
            <img src="icon.svg" alt="">
        </div>
        <h2>Premium</h2>
        <ul>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
            <li>
                Lorem ipsum  eius distinctio vel rerum ducimus. Adipisci, recusandae? Repellat?
            </li>
        </ul>
    </div>
    <div class="form-and-costo">
        <app-form-mp></app-form-mp>
        <form action="">
            <h3>Suscripción</h3>
            <input type="text" value="$ 100.00" disabled="true">
        </form>
    </div>
</div>