.container-review {
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    margin-top: -20vh;
    margin-left: 40vw;
    width: 50vw;
    height: 50vh;

}

p {
    font-style: italic;
    color: #888;
}