

<div class="container-review">
    <div class="container mt-3">
        <div class="d-flex align-items-start">
            <i class="bi bi-image-fill me-2" style="font-size: 1.5rem;"></i>
            <div>
                <h6 class="mb-1">Reseña</h6>
                <div class="d-flex">
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star text-warning"></i>
                </div>
                <p class="mt-2 mb-0" style="font-size: 0.9rem; line-height: 1.5;">
                    _____________________________<br />
                    _____________________________<br />
                    _____________________________
                </p>
            </div>
        </div>
    </div>
</div>