nav {
    margin-top: 10px;
    width: 15vw;
    height: 92vh;
    position: fixed;
    left: 0;
    top: 8vh;
    background-color: #ffffff;
    border-right: solid 0.8px #000000;
    padding: 5px;
    box-sizing: border-box;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.value a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.value:not(:active):hover,
.value:focus {
    background-color: #ffc800a4;
}

.value:focus,
.value:active {
    background-color: #ffc800a8;
    outline: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #ffc700;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.input:hover> :not(.value:hover) {
    transition: 300ms;
    filter: blur(1px);
    transform: scale(0.95, 0.95);
}