<nav [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleMenu()">
        <i [class]="isCollapsed ? 'bi bi-chevron-right right-btn' : 'bi bi-chevron-left'"></i>
    </button>
    <ul class="input">
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/home"> 
                <i class="fa-solid fa-house"></i>
                Inicio
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/add-place">
                <i class="fa-solid fa-circle-plus"></i>
                Agregar lugar
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/add-event">
                <i class="fa-solid fa-calendar-plus"></i>
                Agregar evento
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/info-place">
                <i class="fa-solid fa-location-dot"></i>    
                Info lugar
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/info-event">
                <i class="fa-solid fa-calendar-week"></i>
                Info Evento
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/desire">
                <i class="fa-solid fa-lightbulb"></i>
                Recomendaciones
            </a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/payment">
                <i class="fa-solid fa-star"></i>
                Asciende a premium</a>
        </li>
        <li class="value" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/acept-place">
                <i class="fa-solid fa-star"></i>
                Aprobar lugares</a>
        </li>
    </ul>

    <button class="logout-button" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Cerrar sesión
    </button>
</nav>
