<nav>
    <ul class="input">
        <li class="value">
            <a routerLink="/">
                Inicio
            </a>
        </li>
        <li class="value">
            <a routerLink="/add-place">
                Agregar lugar
            </a>
        </li>
        <li class="value">
            <a routerLink="/add-event">
                Agregar evento
            </a>
        </li>
        <li class="value">
            <a routerLink="/info-place">
                Info lugar
            </a>
        </li>
        <li class="value">
            <a routerLink="/info-event">
                Info Evento
            </a>
        </li>
        <li class="value">
            <a routerLink="/check-availability">
                Check
            </a>
        </li>
    </ul>
</nav>