<div class="container-fluid">
    <div class="row">
        <div class="col-3 profile-sidebar p-4">
            <div class="d-flex align-items-center mb-4">
                <div class="profile-icon"></div>
                <span class="username">Username</span>
            </div>
            <ul class="list-unstyled profile-menu">
                <li>
                    <a routerLink="/welcome"><i class="bi bi-house-door"></i> Home</a>
                </li>
                <li>
                    <a routerLink="#"><i class="bi bi-star"></i> Favoritos</a>
                </li>
                <li>
                    <a routerLink="#"><i class="bi bi-geo-alt"></i> Lugares Visitados</a>
                </li>
                <li>
                    <a routerLink="/events-review"><i class="bi bi-calendar-event"></i> Eventos asistidos</a>
                </li>
                <li>
                    <a routerLink="/review"><i class="bi bi-clipboard2-check"></i> Reseñas</a>
                </li>
            </ul>
        </div>
    </div>
</div>
