<section class="login-container">
    <form class="login" action="">
        <h1>Ingresa a tu cuenta</h1><div class="input">
            <label for="email">Nombre de usuarios</label>
            <input id="email" type="text" placeholder="Nombre de usuario">
        </div>
        <div class="input">
            <label for="email">Ingresa tu correo</label>
            <input id="email" type="text" placeholder="Correo">
        </div>
        <div class="input">
            <label for="password">Ingresa tu contraseña</label>
            <input id="password" type="password" placeholder="Contraseña">
        </div>
        <div class="input">
            <label for="password">Confirma tu contraseña</label>
            <input id="password" type="password" placeholder="Contraseña">
        </div>
        <button>Iniciar sesion</button>
    </form>
</section>