<form class="register-form" action="">
    <h1>Crea tu cuenta</h1>
    <div class="input">
        <label for="email">Nombre de usuario</label>
        <input id="email" type="text" placeholder="Nombre de usuario" name="name" [(ngModel)]="user.name">
    </div>
    <div class="input">
        <label for="email">Ingresa tu correo</label>
        <input id="email" type="email" placeholder="Correo" name="email"[(ngModel)]="user.email">
    </div>
    <div class="input">
        <label for="password">Ingresa tu contraseña</label>
        <input id="password" type="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password">
    </div>
    <div class="input">
        <label for="password">Confirma tu contraseña</label>
        <input id="password" type="password" placeholder="Contraseña" name="pwdConfirm" [(ngModel)]="pwdConfirm">
    </div>
    <button (click)="register()">Registrarme</button>
    <span>¿Ya tienes una cuenta?  <button class="link" (click)="goToLogin()">Iniciar sesión</button> </span>
</form>