<div *ngIf="place" class="details-place-container">
    <h1>{{ place.name }}</h1>
    <div *ngIf="place.images.length > 1" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let img of place.images; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
          <img [src]="img" class="d-block w-100" alt="Imagen de {{ place.name }}">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
    <div *ngIf="place.images.length === 1" class="banner-place">
      <img [src]="place.images[0]" alt="Imagen de {{ place.name }}">
    </div>
    <div class="info-corta">
      <span>{{ place.types }}</span>
      <div>
        <span>
          <!-- Aquí podrías poner un componente para mostrar el número de opiniones y estrellas si es necesario -->
        </span>
      </div>
    </div>
    <p>
      {{ place.description }}
    </p>
    <div *ngIf="place.tags" class="tags-container">
      <span *ngFor="let tag of place.tags.split(',')"> {{tag}} </span>
    </div>
    <div class="address">
      <h5>Dirección:</h5>
      <p>{{ place.address }}</p>
    </div>

    <!-- Botón para eliminar el lugar -->
    <button (click)="openModal()" class="btn btn-danger">Eliminar Lugar</button>

    <!-- Modal de confirmación de eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas eliminar este lugar?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="deletePlace()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
</div>
