<div class="card-group-review">
    <section *ngFor="let place of places" class="info-place-container" (click)="goToDetails(place._id)">
      <div class="banner-place">
        <img [src]="place.images[0]" alt="Imagen de {{ place.name }}">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ place.name }}</h1>
        <p class="card-text">{{ place.description }}</p>
      </div>
      <div class="info-corta">
        <span>{{ place.address }}</span>
      </div>
    </section>
  </div>
  