.add-place-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    min-width: 50vw;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    gap: 20px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Form Wrapper */
.form-wrapper {
    margin-top: 5vh;
    width: 100%;
    max-width: 30vw;
    margin-left: -30vw;
    transition: transform 0.3s ease-in-out;
}

.form-wrapper.collapsed {
    transform: translateX(-5vw);
}

.form-wrapper.expanded {
    transform: translateX(3vw);
}

.add-place-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.add-place-form h2 {
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.add-place-form input:not(.file-upload-container),
.add-place-form select {
    width: 100%;
    height: 45px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--black-soft);
    padding: 10px;
    transition: 0.3s;
}

.add-place-form textarea {
    min-height: 75px;
    height: auto;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
}

.add-place-form input:hover,
.add-place-form textarea:hover,
.add-place-form select:hover {
    border-color: var(--orange);
    transition: 0.2s;
}


.add-place-form input:focus,
.add-place-form textarea:focus {
    border-color: var(--orange);
    outline: solid var(--orange);
}

.input-image {
    border: none;
    width: 20vw;
    height: 20vw;
    background-color: var(--red);
}

.file-input {
    display: none;
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-label {
    width: 35vw;
    height: 35vw;
    border: 2px dashed var(--gray);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: var(--gray);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.file-label:hover {
    color: var(--orange);
    border-color: var(--orange);
}

.image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.add-place-form button {
    height: 45px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.add-place-form button:hover {
    background-color: var(--orange);
    transition: 0.3s;
}

#map {
    height: 400px;
    width: 100%;
    border: 2px solid var(--gray);
    border-radius: 5px;
    margin-top: 10px;

  }
  
  
/* Contenedor principal de tags */
.tags-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0; 
  position: relative;

}

/* Contenedor para scroll horizontal */
.tags-wrapper {
  overflow-x: auto;
  overflow-y: hidden; /* Evitar scroll vertical */
  white-space: nowrap; /* Impedir que las etiquetas se rompan en filas */
  display: flex;
  justify-content: flex-start; /* Alineación hacia la izquierda */
  gap: 10px;
}

/* Contenedor interno de tags */
.tags {
  display: flex;
  flex-wrap: wrap; /* No permitir múltiples filas */
  gap: 10%;
  justify-content: space-around; /* Asegura que las etiquetas estén alineadas horizontalmente */
  align-items: center;
  Flex-direction: row ! important;
  padding: 0px 30px;
}

/* Botones de etiquetas */
.button-tags {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis !important;
  background-color: var(--yellow);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45% !important;
  position: relative;
}

.button-tags.selected {
  background-color: var(--orange);
}

/* Flechas */
.arrow {
  width: 32px !important;
  background: none !important;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  color: black;
  transition: color 0.3s ease;
  position: absolute;
  left: 0px !important;
  z-index: 100 !important;
}
.arrow2 {
  width: 32px !important;
  background: none !important;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  color: black;
  transition: color 0.3s ease;
  position: absolute;
  right: 0px !important;
  z-index: 100 !important;
}

.arrow:hover,
.arrow2:hover {
  color: var(--orange);
}