<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="add-place-form">
    <h2>Agrega un lugar</h2>
    <div>
      <label for="name">Nombre del lugar</label>
      <input type="text" id="name" name="name" [(ngModel)]="place.name" required>
    </div>
    <div>
      <label for="types">Tipo</label>
      <select id="types" name="types" [(ngModel)]="place.types" required>
        <option value="para_parejas">Para Parejas</option>
        <option value="para_amigos">Para Amigos</option>
        <!-- Más opciones según necesites -->
      </select>
    </div>
    <div>
      <label for="tag">Categoría</label>
      <select id="tag" name="tag" [(ngModel)]="place.tags" required>
        <option value="restaurante">Restaurante</option>
        <option value="sala_de_juegos">Sala de Juegos</option>
        <option value="parques">Parques</option>
        <!-- Más opciones según necesites -->
      </select>
    </div>
    <div>
      <label for="price">Precio de entrada (opcional)</label>
      <input type="number" id="price" name="price" [(ngModel)]="place.price">
    </div>
    <div>
      <label for="description">Descripción</label>
      <textarea id="description" name="description" [(ngModel)]="place.description" placeholder="Agrega una breve descripción" required></textarea>
    </div>
    <div class="file-upload-container">
      <input type="file" id="file-input" class="file-input" (change)="onFileSelected($event)" multiple>
      <label for="file-input" class="file-label">+</label>
    </div>
    <button type="submit">Agregar</button>
  </form>
  