<div class="main">
    <div class="container">
        <div class="header">
            <h1>Agrega un evento</h1>
            <p>¿Dónde será?</p>
        </div>

        <div class="map-container">
            <div id="map"></div>
        </div>

        <div class="input-group">
            <label for="date">¿Qué día?</label>
            <input type="date" id="date" class="items-icon " />
        </div>

        <div class="input-group">
            <label for="time">¿A qué hora?</label>
            <input type="time" id="time" class="items-icons"/>
        </div>

        <button class="check-availability-btn">Comprobar disponibilidad</button>
    </div>
</div>