<div class="card">
    <div class="card__side card__side_front">
    <div class="flex__1">
        <div class="card__side__name-bank">
            <img src="assets/icons/MP_RGB_HANDSHAKE_pluma-relleno-blanco_hori-izq.svg" alt="Joaquin">
        </div>
        <div class="card__side__chip"></div>
        <p class="card__side__name-person"> {{name}} </p>
    </div>
    </div>
    <div class="card__side card__side_back">
        <div class="card__side__black"></div>
        <p class="card__side__number">XXXX XXXX XXXX {{ultimos}}</p>
        <div class="flex__2">
            <p class="card__side__other-numbers card__side__other-numbers_1">XX/XX</p>
            <p class="card__side__other-numbers card__side__other-numbers_2">XXX</p>
            <div class="card__side__debit">debit</div>
        </div>
    </div>
</div>

<form id="form-checkout">
    <div id="form-checkout__cardNumber" class="container"></div>
    <div class="cvv-and-expiration">
        <div id="form-checkout__expirationDate" class="container"></div>
        <div id="form-checkout__securityCode" class="container"></div>
    </div>
    <input type="text" id="form-checkout__cardholderName" />
    <small *ngIf="!cardholderValid">El nombre no puede contener caracteres especiales</small>
    <select id="form-checkout__issuer" ></select>
    <select id="form-checkout__installments" ></select>
    <input type="email" id="form-checkout__cardholderEmail" />

    <button [disabled]="isSubmiting" type="submit" id="form-checkout__submit">Pagar</button>
    <progress value="0" class="progress-bar">Cargando...</progress>
</form>
