<section class="login-container">
    <form class="login" action="">
        <h1>Ingresa a tu cuenta</h1>
        <div class="input">
            <label for="email">Ingresa tu correo</label>
            <input id="email" type="password" placeholder="Correo">
        </div>
        <div class="input">
            <label for="password">Ingresa tu contraseña</label>
            <input id="password" type="password" placeholder="Contraseña">
        </div>
        <button>Iniciar sesion</button>
        <span>¿No tienes una cuenta?  <a routerLink="/register">Registrarme</a></span>
    </form>
</section>