<section class="login-container">
    <div class="image">
        <img src="assets/images/siluetas.jpg" alt="">
    </div>
    <form class="login" action="">
        <h1>Ingresa a tu cuenta</h1>
        <div class="input">
            <label for="email">Ingresa tu correo</label>
            <input id="email" type="password" placeholder="Correo">
        </div>
        <div class="input">
            <label for="password">Ingresa tu contraseña</label>
            <input id="password" type="password" placeholder="Contraseña">
        </div>
        <button (click)="login()">Iniciar sesion</button>
        <span>¿No tienes una cuenta?  <button class="link" (click)="goToRegister()">Registrarme</button> </span>
    </form>
</section>