<div class="card-group-container">
  <section *ngFor="let place of places" class="info-place-container" (click)="goToDetails(place._id)">
    <div *ngIf="place.images.length > 1" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let img of place.images; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
          <img [src]="img" class="d-block w-100" alt="Imagen de {{ place.name }}">
        </div>
      </div>
    </div>
    <div *ngIf="place.images.length === 1" class="banner-place">
      <img [src]="place.images[0]" alt="Imagen de {{ place.name }}">
    </div>
    <h1 class="card-title">{{ place.name }}</h1>
    <div class="info-corta">
      <span>{{ place.types }}</span>
      <div>
        <span>
          <i class="fa" [ngClass]="{'fa-heart': favorites.has(place._id), 'fa-heart-o': !favorites.has(place._id)}" (click)="toggleFavorite(place._id); $event.stopPropagation()"></i>
        </span>
      </div>
    </div>
    <p class="card-text" *ngIf="place.description">{{ place.description }}</p>
    <div *ngIf="place.tag" class="tags-container">
      <span *ngFor="let tag of place.tag">{{ tag }}</span>
    </div>
  </section>
</div>
