
:root {
    --yellow: #ffc700;
    --white: white;
    --black: black;
    --black-soft: #2d2b2b;
    --gray: #ccc;
    --red: #cf100d;
    --orange: #f28c22;
}

* {
    font-family: "Geist", sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 0%;
    margin: 0%;
}

.custom-confirm-button {
    background-color: var(--yellow) !important; /* Cambia el color */
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    width: 12em !important;
}

app-add-place,
app-info-place,
app-add-event,
app-info-event,
app-details-event,
app-payment-view,
app-reminders-views,
app-desire-view {
    position: relative;
    left: 20vw;
    top: 8vh;
    display: flex;
    justify-content: center;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 92vh;
    box-sizing: border-box; 
    z-index: 0;
}

::-webkit-scrollbar {
  scrollbar-width: none
}

button:active {
    transform: scale(0.95);
    transition: 0.2s;
}

.invalid input {
    outline: solid 1px var(--red);
  }
  
  .error-text {
    color: var(--red);
    font-size: 12px;
  }
