<div class="form-container">
    <h2>Cuéntanos más...</h2>
    <form>
      <label> ¿Cuántas personas van? </label>
      <input name="numPeople" type="number" min="1" placeholder="Ingresa la cantidad de personas que irán"/>
      <small *ngIf="!validNumPeople" class="error-text">Ingresa un numero mayor a 0</small>
    
      <label> ¿Qué tipo de salida es? </label>
      <select name="type" id="type" [(ngModel)]="type">
          <option value="" selected="true" disabled>Selecciona una opción</option>
          <option value="para_amigos">Con amigos</option>
          <option value="para_parejas">Cita romántica</option>
          <option value="para_familia">Salida familiar</option>
          <option value="para_trabajo">Salida de trabajo</option>
          <option value="para_descansar">Relajación</option>
          <option value="para_educacion">Educación</option>
      </select>
  
      <label> ¿Cuál es tu presupuesto? </label>
      <input name="money" type="number" placeholder="Ingresa tu presupuesto">
  
      <label> ¿Cuánto tiempo deseas estar fuera? </label>
      <select name="timeOut" id="">
          <option value="" selected="true" disabled>Selecciona una opción</option>
          <option [value]="1">Menos de 1 hora</option>
          <option [value]="2">De 1 a 2 horas</option> 
          <option [value]="3">De 2 a 4 horas</option>
          <option [value]="4">Más de 4 horas</option>
      </select>
      
      <label> ¿Qué distancia estás dispuesto a recorrer en kilómetros? </label>
      <input type="number" name="distance" id="" placeholder="Ingresa una cantidad">
  
      <button class="recommend-button" type="button" (click)="sendForm()">
          Recomiéndame algo!!
      </button>
    </form>
  </div>
  