<div class="container">
    <button class="back-button">
        <span>&larr;</span>
    </button>
    <div class="form-container">
        <h2>Cuéntanos más...</h2>
        <form>
            <label>
                ¿Cuántas personas van?
                <input type="text" />
            </label>
            <label>
                ¿Qué tipo de salida es?
                <input type="text" />
            </label>
            <label>
                ¿Cuál es tu presupuesto?
                <input type="text" />
            </label>
            <label>
                ¿A qué horas saldrás?
                <input type="text" />
            </label>
            <label>
                ¿Cuánto tiempo deseas estar fuera?
                <input type="text" />
            </label>
            <label>
                ¿Qué distancia estás dispuesto a recorrer?
                <input type="text" />
            </label>
            <button class="recommend-button" type="button">
                Recomiéndame algo!!
            </button>
        </form>
    </div>
    <div class="image-placeholder">
        <div class="circle"></div>
        <div class="triangle"></div>
    </div>
</div>